body {
  background-color: rgb(255, 122, 122);
  background-image: url("/public/imagens/bg-intro-desktop.png");
  font-size: 16px;
}
.App {
  display: flex;
  flex-direction: column;
  align-items: center;
}
aside {
  padding: 5% 10% 5% 10%;
  text-align: center;
}
aside h1 {
  color: white;
  font-family: "PoppinsBold";
  font-size: 1.5em;
}
aside p {
  color: white;
  font-family: "PoppinsRegular";
  font-size: 1em;
}
#Offer {
  background-color: rgb(96, 85, 165);
  color: white;
  width: 85%;
  border-radius: 1em;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
#Offer span {
  font-family: "PoppinsBold";
}
#Offer p {
  font-family: "Poppinsregular";
}
@font-face {
  font-family: "PoppinsBold";
  src: url(/public/fonts/Poppins-Bold.ttf);
}
@font-face {
  font-family: "PoppinsRegular";
  src: url(/public/fonts/Poppins-ExtraLight.ttf);
}
