body {
  background-color: rgb(255, 122, 122);
  background-image: url("/public/imagens/bg-intro-desktop.png");
  font-size: 16px;
  overflow-y: auto;
}
.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3vh;
  padding: 5vh 2vh 10vh 2vh;
}
aside {
  padding: 5% 10% 5% 10%;
  text-align: center;
}
aside h1 {
  color: white;
  font-family: "PoppinsBold";
  font-size: 1.5em;
}
aside p {
  color: white;
  font-family: "PoppinsRegular";
  font-size: 1em;
}
#Offer {
  background-color: rgb(96, 85, 165);
  color: white;
  width: 100%;
  border-radius: 1em;
  box-shadow: 0px 3px gray;
  text-align: center;
  padding: 1% 0% 1% 0%;
  outline-style: none;
}
#Offer span {
  font-family: "PoppinsBold";
  font-size: 0.8rem;
  margin-left: 10%;
}
#Offer p {
  font-family: "Poppinsregular";
  font-size: 0.8rem;
  margin-right: 10%;
}
#formulario {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2vh;
}
form {
  padding: 5%;
  background-color: white;
  display: flex;
  flex-direction: column;
  border-radius: 1em;
  box-shadow: 0px 5px gray;
  gap: 0.5vh;
}
#errorMsg {
  font-family: "PoppinsRegular";
  text-align: right;
  margin-top: 0%;
  color: red;
}
.dataValid {
  font-size: 0.8em;
  border-radius: 1vh;
  padding: 3%;
  border: solid rgba(192, 187, 187, 0.63);
  outline-style: none;
  font-family: "PoppinsBold";
  box-sizing: border-box;
}
.dataInvalid {
  font-size: 0.8em;
  border-radius: 1vh;
  padding: 3%;
  border: solid red;
  outline-style: none;
  font-family: "PoppinsBold";
  background-image: url(/public/imagens/icon-error.svg);
  background-repeat: no-repeat;
  background-position: 95%;
}
form button {
  font-size: 0.8em;
  font-family: "PoppinsBold";
  background-color: rgb(56, 204, 140);
  color: white;
  border-radius: 1vh;
  outline-style: none;
  padding: 3% 5%;
  box-shadow: 0px 3px gray;
}
form p {
  text-align: center;
  color: rgba(128, 128, 128, 0.555);
  font-family: "PoppinsBold";
  font-size: 0.8em;
}
form span {
  color: red;
}

@media (min-width: 768px) {
  body{
    overflow-y: hidden;
   
  }
  .App {
    display: grid;
    grid-template-columns: auto auto;
    padding: 5% 7%;
  }
  aside {
    text-align: start;
    padding-left: 5vh;
  }
}

@font-face {
  font-family: "PoppinsBold";
  src: url(/public/fonts/Poppins-Bold.ttf);
}
@font-face {
  font-family: "PoppinsRegular";
  src: url(/public/fonts/Poppins-ExtraLight.ttf);
}
